{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-purple-700 rounded-xl p-8 max-w-lg w-full">
        <p class="text-white text-xl leading-relaxed">
            Welcome to Zwigger – where virtual collaboration meets innovation! At Zwigger, we're dedicated to revolutionizing the way teams communicate and collaborate. Our chatroom app is more than just a platform—it's a gateway to seamless communication, secure connections, and unparalleled productivity. Dive into customizable rooms, where privacy and security are paramount, and experience our user-friendly interface designed to enhance your workflow. With 24/7 support, community-driven development, and scalable solutions, Zwigger empowers you to connect, create, and achieve together. Join us on this journey as we redefine the future of collaboration. Welcome to Zwigger – where every conversation is an opportunity.
        </p>
    </div>
</div>
{% endblock %}
